* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.header-banner {
    background-color: #f2f7f8;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 6rem;
}

.header-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 10vh;
}

.logobnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.hbclogobox {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.logo {
    width: 10.9rem;
    height: 4.6rem;
}

nav ul.navbar {
    display: flex;
    flex-direction: row;
    background: #f2f7f8;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.23rem;
}

#options {
    background-color: #f2f7f8;
    color: #4e657a;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

li {
    font-weight: 600;
    padding-right: 1.06rem;
}

a.Alink-li:link, a.Alink-li:visited {
    color: #3d4f60;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

a.Alink-li:hover, a.Alink-li:active {
    color: #3d4f60;
}

a.Alink-re:link, a.Alink-re:visited {
    color: #3d4f60;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

a.Alink-re:hover, a.Alink-re:active {
    color: black;
}

.hbc-buttonbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding-top: 0.5rem;
    margin-left: 26rem;
}

a.Alink-signin:link, a.Alink-signin:visited {
    color: #122231;
    padding: 1rem 1.6rem 1rem 1.6rem;
    text-decoration: none;
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 600;
    border: 0.06rem solid #122231;
    border-radius: 0.75rem;
    margin-right: 0.18rem;
}

a.Alink-signin:hover, a.Alink-signin:active {
    color: black;
}

a.Alink-cfa:link, a.Alink-cfa:visited {
    background-color: #122231;
    color: white;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.75rem;
    margin-left: 0.37rem;
}

a.Alink-cfa:hover, a.Alink-cfa:active {
    color:white;
}

.header-header {
    background-color: #f2f7f8;
    
}

.header-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 34rem;
}

.hhctextbox {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    width: 26rem;
    height: 22rem;
    margin-top: 10rem;
}

.hhctxtbox {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.h-hhctb {
    color: #122231;
    font-size: 3rem;
}

.p-hhctb {
    color: #122231c6;
    font-size: 1.28rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;
}

.hhcbuttonbox {
    display: flex;
    flex-direction: row;
    width: 24rem;
    justify-content: space-between;
}

.hhcbb-apl {
    background-color: #122231;
    border-radius: 0.75rem;
    padding: 1rem 1.6rem 1rem 1.6rem;
    display: flex;
    justify-content: center;
    height: 1.6rem;
}

.hhcbb-gpl {
    background-color: #122231;
    border-radius: 0.75rem;
    padding: 1rem 1.6rem 1rem 1.6rem;
    display: flex;
    justify-content: center;
    height: 1.6rem;
}

a.Alink-stores:link, a.Alink-stores:visited {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline;
    padding-top: 0.15rem;
    padding-left: 0.6rem;
}

a.Alink-stores:hover, a.Alink-stores:active {
    color:white;
}

.hhcimagebox {
    display: flex;
    flex-direction: column;
}

.mainimg {
    margin-right: 2.5rem;
    margin-top: 6.25rem;
    position: absolute;
    z-index: 0;
}

.mainimage {
    width: 31.8rem;
    height: 33.75rem;
}

.subboxes {
    width: 32.9rem;
    height: 32.5rem;
    margin-top: 3.2rem;
    margin-right: 2.5rem;
    position: relative;
    z-index: 1;
}

.subbox1 {
    position: absolute;
    margin-top: 11.25rem;
    margin-left: -4.4rem;
}

.sb1 {
    width:13.75rem;
    height:3.9rem;
}

.subbox2 {
    position: absolute;
    margin-top: 8rem;
    margin-left: 20.6rem;
}

.sb2 {
    width:13.75rem;
    height:5.3rem;
}

.subbox3 {
    position: absolute;
    margin-top: 24.4rem;
    margin-left: -4.4rem;
}

.sb3 {
    width:13.2rem;
    height:5rem;
}

.subbox4 {
    position: absolute;
    margin-top: 23.4rem;
    margin-left: 19.4rem;
}

.sb4 {
    width:15rem;
    height:3.93rem;
}

.subbox5 {
    position: absolute;
    margin-top: 34.25rem;
    margin-left: 10rem;
}

.sb5 {
    width:11.25rem;
    height:4.125rem;
}

.section1 {
    background-color: #f2f7f8;
    height: 31.25rem;
}

.containers1 {
    display: flex;
    flex-direction: row;
    padding-top: 12.5rem;
}

.padlockbox {
    margin-left: 3.2rem;
    margin-right: 1.87rem;
}

.textboxs1 {
    display: flex;
    flex-direction: column;
    width: 41.5rem;
}

.htbs1 {
    font-size: 1.4rem;
    color: #122231;
}

.ptbs1 {
    font-size: 1rem;
    color: #4e657a;
    line-height: 1.6rem;
}

a.Alink-security:link, a.Alink-security:visited {
    color: #122231;
    text-decoration: none;
    font-size: 1.06rem;
    font-weight: 600;
    display: inline;
}

a.Alink-security:hover, a.Alink-security:active {
    text-decoration: 0.3rem solid underline #5d7892;
}

.section2 {
    background-color: #f2f7f8;
}

.containers2 {
    display: flex;
    flex-wrap: wrap;
}

.gridpair1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.cs2-textbox {
    background-color: #f2f7f8;
    margin: auto;
    width: 28rem;
    margin-left: 4rem;
}

.hcs2-tb {
    font-size: 3rem;
    color: #122231;
    text-align: center;
}

.pcs2-tb {
    font-size: 1.5rem;
    color: #122231;
    text-align: center;
    line-height: 2.1rem;
}

.cs2-gridbox2 {
    background-color: white;
    width: 35rem;
    height: 26.8rem;
    border-radius: 1.25rem;
    border: 0.06rem solid #5d789225; /* 1px is 0.0625rem */
    margin-left: 5rem;
}

.cs2-gridbox2:hover {
    background-color: #0f60df;
    color: white;
}

.cs2txtbx-gb2 {
    padding: 3.75rem 1.25rem 0.63rem 1.8rem;
    flex: 1 1 10rem;
}

.htb-gb2 {
    font-size: 2.25rem;
    color:#0c52c3;
}

.htb-gb2:hover {
    font-size: 2.25rem;
    color:white;
}

.ptb-gb2 {
    font-size: 1.3rem;
    color:#3d4f60;
    line-height: 1.7rem;
    padding-bottom: 10.5rem;
}

.ptb-gb2:hover {
    font-size: 1.3rem;
    color:white;
    line-height: 1.7rem;
    padding-bottom: 10.5rem;
}

a.Alink-piggybank:link, a.Alink-piggybank:visited {
    color:#0c52c3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    display: inline;
}

a.Alink-piggybank:hover, a.Alink-piggybank:active {
    color: white;
    text-decoration: 0.3rem solid underline #ffffffa8;
}

.imgbx-gb2 {
    margin-left: 18rem;
    margin-top: -12.75rem;
    flex: 1 1 10rem;
    width: 15rem;
    height: 14.3rem;
}

.imgbx-gb2:hover {
    margin-left: 18rem;
    margin-top: -12.75rem;
    flex: 1 1 10rem;
    background-image: url("iPhone\ 14-11.avif");
    width: 15rem;
    height: 14.3rem;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: center;
}

.gridpair2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.8rem;
}

.cs2-gridbox3 {
    background-color: white;
    width: 35rem;
    height: 27rem;
    border-radius: 1.25rem;
    margin-left: 3.7rem;
    border: 0.06rem solid #5d789225;
}

.cs2-gridbox3:hover {
    background-color:#15A6F3;
    color: white;
}

.cs2txtbx-gb3 {
    padding: 3.75rem 1.25rem 0.6rem 1.8rem;
    flex: 1 1 10rem;
}

.imgbx-gb3 {
    margin-left: 18rem;
    margin-top: -12.5rem;
    flex: 1 1 10rem;
    width: 15rem;
    height: 14.3rem;
}

.imgbx-gb3:hover {
    margin-left: 18rem;
    margin-top: -12.5rem;
    flex: 1 1 10rem;
    background-image: url("iPhone\ 14\ -\ 22.avif");
    width: 15rem;
    height: 14.3rem;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: center;
}

.htb-gb3 {
    font-size: 2.25rem;
    color:#15A6F3;
}

.htb-gb3:hover {
    font-size: 2.25rem;
    color:white;
}

.ptb-gb3 {
    font-size: 1.3rem;
    color:#3d4f60;
    line-height: 1.7rem;
    padding-bottom: 8.7rem;
}

.ptb-gb3:hover {
    font-size: 1.3rem;
    color:white;
    line-height: 1.7rem;
    padding-bottom: 8.7rem;
}

a.Alink-safelock:link, a.Alink-safelock:visited {
    color:#15A6F3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    display: inline;
}

a.Alink-safelock:hover, a.Alink-safelock:active {
    color: white;
    text-decoration: 0.3rem solid underline #ffffffa8;
}

.cs2-gridbox4 {
    background-color: white;
    width: 35rem;
    height: 26.8rem;
    border-radius: 1.25rem;
    border: 0.06rem solid #5d789225;
    margin-left: 1.8rem;
}

.cs2-gridbox4:hover {
    background-color: #2DCA8C;
    color: white;
}

.cs2txtbx-gb4 {
    padding: 4rem 1.25rem 0.6rem 1.8rem;
    flex: 1 1 10rem;
}

.imgbx-gb4 {
    margin-left: 18rem;
    margin-top: -12.5rem;
    flex: 1 1 10rem;
    width: 15rem;
    height: 14.3rem;
}

.imgbx-gb4:hover {
    margin-left: 18rem;
    margin-top: -12.5rem;
    flex: 1 1 10rem;
    background-image: url("iphonw.avif");
    width: 15rem;
    height: 14.3rem;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: center;
}

.htb-gb4 {
    font-size: 2.25rem;
    color:#2DCA8C;
}

.htb-gb4:hover {
    font-size: 2.25rem;
    color:white;
}

.ptb-gb4 {
    font-size: 1.3rem;
    color:#3d4f60;
    line-height: 1.75rem;
    padding-bottom: 8rem;
}

.ptb-gb4:hover {
    font-size: 1.3rem;
    color:white;
    line-height: 1.75rem;
    padding-bottom: 8rem;
}

a.Alink-targetsavings:link, a.Alink-targetsavings:visited {
    color: #2DCA8C;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    display: inline;
}

a.Alink-targetsavings:hover, a.Alink-targetsavings:active {
    color: white;
    text-decoration: 0.3rem solid underline #ffffffa8;
}

.gridpair3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.8rem;
    padding-bottom: 6.2rem;
}

.cs2-gridbox5 {
    background-color: white;
    width: 35rem;
    height: 26.8rem;
    border-radius: 1.25rem;
    margin-left: 3.75rem;
    border: 0.06rem solid #5d789225;
}

.cs2-gridbox5:hover {
    background-color: #F163AA;
    color: white;
}

.cs2txtbx-gb5 {
    padding: 3.75rem 1.25rem 0.6rem 1.8rem;
    flex: 1 1 10rem;
}

.imgbx-gb5 {
    margin-left: 18rem;
    margin-top: -11rem;
    flex: 1 1 10rem;
    height: 14.3rem;
}

.imgbx-gb5:hover {
    margin-left: 18rem;
    margin-top: -11rem;
    flex: 1 1 10rem;
    background-image: url("iPhone\ 14.avif");
    width: 15rem;
    height: 14.3rem;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: center;
}

.htb-gb5 {
    font-size: 2.25rem;
    color:#F163AA;
}

.htb-gb5:hover {
    font-size: 2.25rem;
    color:white;
}

.ptb-gb5 {
    font-size: 1.3rem;
    color:#3d4f60;
    line-height: 1.7rem;
    padding-bottom: 8.7rem;
}

.ptb-gb5:hover {
    font-size: 1.3rem;
    color:white;
    line-height: 1.7rem;
    padding-bottom: 8.7rem;
}

a.Alink-flexnaira:link, a.Alink-flexnaira:visited {
    color:#F163AA;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    display: inline;
}

a.Alink-flexnaira:hover, a.Alink-flexnaira:active {
    color: white;
    text-decoration: 0.3rem solid underline #ffffffa8;
}

.cs2-gridbox6 {
    background-color: white;
    width: 35rem;
    height: 26.8rem;
    border-radius: 1.25rem;
    margin-left: 1.8rem;
    border: 0.06rem solid #5d789225;
}

.cs2-gridbox6:hover {
    background-color: #122231;
    color: white;
}

.cs2txtbx-gb6 {
    padding: 3.75rem 1.25rem 0.6rem 1.8rem;
    flex: 1 1 10rem;
}

.imgbx-gb6 {
    margin-left: 18rem;
    margin-top: -11rem;
    flex: 1 1 10rem;
    height: 14.3rem;
    width: 15rem;
}

.imgbx-gb6:hover {
    margin-left: 18rem;
    margin-top: -11rem;
    flex: 1 1 10rem;
    background-image: url("iphone12.avif");
    width: 15rem;
    height: 14.3rem;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: center;
}

.htb-gb6 {
    font-size: 2.25rem;
    color:#122231;
}

.htb-gb6:hover {
    font-size: 2.25rem;
    color:white;
}

.ptb-gb6 {
    font-size: 1.3rem;
    color:#3d4f60;
    line-height: 1.7rem;
    padding-bottom: 8.7rem;
}

.ptb-gb6:hover {
    font-size: 1.3rem;
    color:white;
    line-height: 1.7rem;
    padding-bottom: 8.7rem;
}

a.Alink-flexdollar:link, a.Alink-flexdollar:visited {
    color:#122231;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    display: inline;
}

a.Alink-flexdollar:hover, a.Alink-flexdollar:active {
    color: white;
    text-decoration: 0.3rem solid underline #ffffffa8;
}

.section3 {
    margin-top: 9.3rem;
}

.containers3 {
    display: flex;
    flex-wrap: wrap;
    flex: 5 1 10rem;
    flex-direction: column;
}

.cs3-textbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 3.7rem;
}

.hcs3 {
    font-size: 3.25rem;
    color: #122231;
    text-align: center;
}

.pcs3 {
    font-size: 1.5rem;
    color: #3d4f60;
    text-align: center;
    padding-top: 0.9rem;
}

.cs3-infobox {
    width: 71.8rem;
    margin: auto;
    background-color: #7913e5;
    border-radius: 1.8rem;
    border: 0.06rem solid #5d789225;
    margin-bottom: 12.5rem;
}

.cs3-ibtxtbx {
    display: flex;
    flex-direction: column;
    width: 31.2rem;
    margin-left: 3.7rem;
    margin-top: 4.3rem;
}

.hibtb {
    font-size: 2.25rem;
    color:white;
    display: inline;
}

.pibtb {
    font-size: 1.3rem;
    color:#FFDFF3;
    line-height: 1.75rem;
    padding-bottom: 10rem;
    display: inline;
}

a.Alink-invest:link, a.Alink-invest:visited {
    color:white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    display: inline;
}

a.Alink-invest:hover, a.Alink-invest:active {
    color: white;
    text-decoration: 0.3rem solid underline #ffffffa8;
}

.cs3-ibimgbx {
    background-image: url("iphoneInvest.avif");
    height: 26.25rem;
    min-height: auto;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: right;
    margin-top: -24.3rem;
    margin-right: 3.75rem;
}

.section4 {
    background-color: #f2f7f8;
}

.containers4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 9.3rem;
    height: 55rem;
    min-height: inherit;
}

.cs4-textbox {
    padding-bottom: 4.3rem;
    width: 50rem;
}

.hcs4 {
    font-size: 3.1rem;
    color:#122231;
    text-align: center;
}

.pcs4 {
    font-size: 1.5rem;
    color:#3d4f60;
    line-height: 1.8rem;
    text-align: center;
}

.cs4-videobox {
    border-radius: 1.25rem;
    border: 0.8rem solid white;
}

.youtubevid {
    width: 50rem;
    height: 27.5rem;
    border-radius: 1.25rem;
}

.section5 {
    background-color: #f2f7f8;
}

.containers5 {
    width: 78rem;
    height: auto;
    padding-bottom: 7rem;
}

.cs5-imagebox {
    background-image: url("fallbackImg.png");
    height: 33rem;
    min-height: auto;
    background-size:contain;
    background-repeat: no-repeat;
    overflow:auto;
    background-position: left;
    margin-left: 3rem;
    margin-top: -22rem;
}

.cs5-textbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 35.6rem;
    padding-top: 10rem;
}

.cs5-txtbx {
    text-align: left;
}

.hcs5 {
    color: #122231;
    font-size: 2rem;
}

.cs5-bttnbx {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.8rem;
    min-width: 19rem;
    width: 19rem;
}

.cs5-apl {
    border-radius: 0.75rem;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    display: flex;
    justify-content: center;
    border: 0.06rem solid #5d789225;
}

.cs5-apl:hover {
    border-radius: 0.75rem;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    display: flex;
    justify-content: center;
    border: 0.06rem solid #5d78926b;
}

.cs5-gpl {
    border-radius: 0.75rem;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    display: flex;
    justify-content: center;
    border: 0.06rem solid #5d789225;
}

.cs5-gpl:hover {
    border-radius: 0.75rem;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    display: flex;
    justify-content: center;
    border: 0.06rem solid #5d789269;
}

a.Alink-stores2:link, a.Alink-stores2:visited {
    color: #122231;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    display: inline;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
}

a.Alink-stores2:hover, a.Alink-stores2:active {
    color: #122231;
}

.section6 {
    background-color: white;
}

.containers6 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 23rem;
}

.cs6-textbox {
    margin: auto;
}

.hcs6 {
    color: #122231;
    font-size: 2rem;
}

.cs6-gridbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 72rem;
    height: 6.25rem;
    margin: auto;
}

.footer1 {
    background-color: white;
}

.footer1container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6.25rem;
    padding-bottom: 5rem;
}

.imgf1c {
    height: 10rem;
    justify-content: space-between;
}

.listf1c {
    display: flex;
    flex-wrap: wrap;
    width: 55rem;
}

.f1c-grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    height: 9.5rem;
    justify-content: space-between;
}

.f1c-grid3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.f1c-grid5 {
   text-align: right;
   width: 19rem;
   margin-left: 14rem;
}

.footerheading {
    font-size: 0.9rem;
    color: #122231;
    padding-bottom: 0.5rem;
}

li.footerli {
    font-size: 0.87rem;
    line-height: 2rem;
    font-weight: 300;
    list-style-type: none;
}

.fa-brands {
    color: #3d4f60;
    font-size: 1.25rem;
    padding-right: 0.3rem;
    margin-bottom: 1rem;
}

.footer2 {
    background-color: white;
}

.footer2container {
    margin-left: 3rem;
    margin-top: 2.5rem;
    padding-bottom: 3rem;
    width: 44rem;
}

.pf2c {
    font-size: 0.7rem;
    color:#5d7892;
    line-height: 1.25rem;
}

span {
    color: #0f60df;
}
